<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-header">
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <title>회원가입</title>
</head>
<body>
  <!-- 헤더 -->
  <header th:replace="fragments/header :: header">헤더 공간</header>
  <!-- 본문 내용 -->
  <div class="d-flex justify-content-center my-5 min-vh-100">
    <div>
      <h2 class="mb-4">회원가입</h2>
      <form th:replace="fragments/auth/sign-up-form :: fragment-sign-up-form">로그인 컴포넌트</form>
    </div>
  </div>

  <footer th:replace="fragments/footer :: footer">Footer 공간</footer>
</body>
</html>