<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <form th:fragment="fragment-sign-up-form" style="width: 400px">
    <!-- Email input -->
    <div class="form-floating mb-4">
      <input type="email" id="form2Example1" class="form-control" placeholder="ID"/>
      <label class="form-label" for="form2Example1">ID</label>
    </div>

    <!-- Password input -->
    <div class="form-floating mb-4">
      <input type="password" id="form2Example2" class="form-control" placeholder="Password"/>
      <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- Submit button -->
    <a class="btn btn-primary btn-block mb-4 col-lg-12" href="#">회원 가입</a>
  </form>
</html>