<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition Example</title>
</head>
<body>
<h1>Speech Recognition Example</h1>
<div id="output"></div>
<button onclick="startRecognition()">Start Recognition</button>

<script th:inline="javascript">
        var recognition;
        var output = document.getElementById("output");
        var intervalId;

        function startRecognition() {
            recognition = new window.webkitSpeechRecognition();
            recognition.onresult = function(event) {
                clearInterval(intervalId); // 기존에 등록된 interval 제거
                var transcript = event.results[0][0].transcript;
                output.innerHTML += transcript + "<br>";
                intervalId = setInterval(function() { // 2초마다 한 번씩 결과 출력
                  output.innerHTML += transcript + "<br>";
                }, 2000);
            };
            recognition.start();
        }
    </script>
</body>
</html>
