<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-header">
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>인터뷰 메인 페이지</title>
</head>
<body>
  <!-- 헤더 -->
  <header th:replace="fragments/header :: header">헤더 공간</header>
  <!-- 본문 내용 -->
  <div class="min-vh-100">
      <div th:replace="fragments/main/main-banner :: fragment-main-banner">인터뷰 컴포넌트</div>
      <div class="container my-5">
          <!--    <h1>Welcome to My Website</h1>-->
          <!--    <p>This is the home page.</p>-->

          <div th:replace="fragments/rowtable/row-table :: fragment-row-table" class="mr-5">RowTable 공간</div>
      </div>
  </div>

  <footer th:replace="fragments/footer :: footer">Footer 공간</footer>

</body>
</html>